<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

  <!-- Servlets -->
  <servlet>
    <servlet-name>pathServlet</servlet-name>
    <servlet-class>com.aris.admin.servlet.UserServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>pathServlet</servlet-name>
    <url-pattern>/userinfo1</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>servlet</servlet-name>
    <servlet-class>com.aris.admin.servlet.Server</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>servlet</servlet-name>
    <url-pattern>/redirect</url-pattern>
  </servlet-mapping>

  <!--<filter-mapping>
    <filter-name>urlForwardingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <filter>
    <filter-name>urlForwardingFilter</filter-name>
    <filter-class>com.aris.admin.server.AdminURLForwardFilter</filter-class>
    <init-param>
    <param-name>uriWhitelist</param-name>
    <param-value>/umc/userinfo.html, /umc/userinfo, /umc/index.html, /umc/login</param-value>
    </init-param>
  </filter>-->

  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>

</web-app>
